.features-container {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}

.photos {
  position: relative;
}

.photos img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(70%);
}

/* Overlay on top of the image */
.photos::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translateX(-50%);
  text-align: left;
  color: #fff;
  max-width: 80%;
  z-index: 2;
}

.overlay-title {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.overlay-subtitle {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 1rem;
  bottom: -11rem;
  z-index: 2;
}

.contact-box {
  background-color: rgb(232, 78, 21);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  max-width: 200px;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.phone-number {
  background-color: rgb(253, 170, 139);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  max-width: 200px;
  font-size: 0.9rem;
}

.phone-number p {
  margin: 0;
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background: #ff7b54;
  opacity: 1;
}

/* Responsive Design (tablet and small desktop)*/
@media (max-width: 1024px) {
  .overlay {
    margin-left: -40px;
    margin-top: 80px;
  }

  .contact {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }

  .contact-box,
  .phone-number {
    max-width: 180px;
  }
}
/*smaller tablet and large mobile phones*/
@media (max-width: 768px) {
  .overlay-title {
    font-size: 1.5rem;
  }

  .overlay-subtitle {
    font-size: 1rem;
  }

  .contact {
    left: 1rem;
    bottom: 1rem;
  }

  .contact-box,
  .phone-number {
    max-width: 150px;
    font-size: 0.8rem;
  }
}

/*mobile phones*/
@media (max-width: 480px) {
  .overlay-title {
    font-size: 1.2rem;
    margin-top: -250px;
    margin-left: 110px;
  }

  .overlay-subtitle {
    font-size: 0.9rem;
    margin-left: 110px;
  }

  .contact {
    margin-left: 90px;
    margin-bottom: -130px;
  }
  .contact-box,
  .phone-number {
    max-width: 130px;
    font-size: 0.7rem;
    margin-top: -3px;
  }
}

/*very small phones*/
@media (max-width: 360px) {
  .overlay-title {
    font-size: 1rem;
  }

  .overlay-subtitle {
    font-size: 0.8rem;
  }

  .contact-box,
  .phone-number {
    max-width: 120px;
    font-size: 0.6rem;
  }
}
